In [8]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
data = pd.read_csv("taxi+_zone_lookup.csv")
print(data.shape)
data.head()

(265, 4)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [11]:
engine = create_engine(f'postgresql://root:root@localhost:5432/ny_taxi')
data.to_sql(name="taxi_zone_lookup", con=engine, if_exists='replace')

265